.about {
  position: relative;
  overflow: hidden;

  padding-top: 52px;
  padding-bottom: 98px;

  font-family: $font-mono;
  font-size: 16px;
  line-height: 22px;
  color: $black-color;

  &::before {
    content: "";
    position: absolute;
    top: -560px + $triangle-left-vshift-desktop;
    left: 0;

    width: 302px;
    height: 560px;

    background-image: url("../img/bg-triangle-left-big.svg");
  }

  &::after {
    content: "";
    position: absolute;
    top: -560px + $triangle-right-vshift-desktop;
    left: calc(50% - #{$triangle-right-hshift-desktop});

    width: 488px;
    height: 560px;

    background-image: url("../img/bg-triangle-right-big.svg");
  }
}

.about__wrapper {
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    padding-left: $wrapper-padding + 300px;

    max-width: $max-content-width - 300px - 119px;
    min-height: 320px;

    background-image: url("../img/bg-2005-desktop@1x.png");
    background-position: top 5px left 115px;
    background-size: 220px 320px;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-2005-desktop@2x.png");
    }
  }
}

.about__title {
  margin-bottom: 22px;
}

.about__text {
  margin: 0;
  margin-bottom: 20px;
  padding-right: 10px;

  &:last-of-type {
    margin-bottom: 38px;
  }
}

.about__btn {
  display: inline-block;
  vertical-align: middle;
  min-width: 180px;
  box-sizing: border-box;
}

@media (max-width: $desktop-width - 1) {
  .about {
    padding-top: 29px;
    padding-bottom: 73px;

    &::before {
      content: none;
    }

    &::after {
      top: -560px + $triangle-right-vshift-tablet;
      left: calc(50% + #{$triangle-right-hshift-tablet});
    }
  }

  .about__wrapper {
    @media (min-width: $tablet-width) {
      padding-left: $wrapper-padding + 188px;

      min-height: 362px;

      background-image: url("../img/bg-2005-tablet@1x.png");
      background-position: top -2px left;
      background-size: 244px 362px;
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-2005-tablet@2x.png");
      }
    }
  }

  .about__title {
    margin-bottom: 24px;
  }

  .about__text {
    padding-right: 0;

    &:last-of-type {
      margin-bottom: 42px;
    }
  }
}

@media (max-width: $tablet-width - 1) {
  .about {
    padding-top: 27px;
    padding-bottom: 65px;

    &::after {
      top: -560px + $triangle-right-vshift-mobile;
      left: calc(50% - #{$triangle-right-hshift-mobile});
    }
  }

  .about__img {
    display: none;
  }

  .about__title {
    margin-bottom: 19px;

    transform: translateX(-2px);
  }

  .about__text {
    margin-bottom: 41px;

    &:last-of-type {
      margin-bottom: 28px;
    }
  }
}
