.about {
  position: relative;
  overflow: hidden;

  padding-top: 52px;
  padding-bottom: 98px;

  font-family: $font-mono;
  font-size: 16px;
  line-height: 22px;
  color: $black-color;

  &::before {
    content: "";
    position: absolute;
    top: -560px + $triangle-left-vshift-desktop;
    left: 0;

    width: 302px;
    height: 560px;

    background-image: url("../img/bg-triangle-left-big.svg");
  }

  &::after {
    content: "";
    position: absolute;
    top: -560px + $triangle-right-vshift-desktop;
    left: calc(50% - #{$triangle-right-hshift-desktop});
    width: 488px;
    height: 560px;

    background-image: url("../img/bg-triangle-right-big.svg");
  }
}

.about__img {
  float: left;
  transform: translate(-32px, 5px);

  margin-right: -42px;

  width: 220px;
  height: 320px;
}

.about__title {
  margin-bottom: 22px;
}

.about__text {
  margin: 0;
  margin-bottom: 20px;
  padding-right: 10px;

  &:last-of-type {
    margin-bottom: 38px;
  }
}

.about__btn {
  display: inline-block;
  min-width: 180px;
  box-sizing: border-box;
}

@media (max-width: $desktop-width - 1) {
  .about {
    padding-top: 29px;
    padding-bottom: 73px;

    &::before {
      content: none;
    }

    &::after {
      content: "";
      top: -560px + $triangle-right-vshift-tablet;
      left: calc(50% + #{$triangle-right-hshift-tablet});
    }
  }

  .about__img {
    margin-right: -57px;
    transform: translate(-25px, -2px);

    width: 244px;
    height: 362px;
  }

  .about__title {
    margin-bottom: 24px;
  }

  .about__text {
    padding-right: 0;

    &:last-of-type {
      margin-bottom: 42px;
    }
  }
}

@media (max-width: $tablet-width - 1) {
  .about {
    padding-top: 27px;
    padding-bottom: 65px;

    &::after {
      top: -560px + $triangle-right-vshift-mobile;
      left: calc(50% - #{$triangle-right-hshift-mobile});
    }
  }

  .about__img {
    display: none;
  }

  .about__title {
    margin-bottom: 19px;

    transform: translateX(-2px);
  }

  .about__text {
    margin-bottom: 41px;

    &:last-of-type {
      margin-bottom: 28px;
    }
  }
}
