.accordion__btn {
  display: none;
}

.accordion__btn-icon {
  width: 16px;
  height: 16px;

  fill: #c4c4c4;
}

.accordion__use-icon-minus {
  display: none;
}


@media (max-width: $tablet-width - 1) {
  .accordion {
    &--expanded {
      .accordion__btn-icon {
        height: 2px;
      }

      .accordion__content {
        display: block;
      }

      .accordion__use-icon-plus {
        display: none;
      }

      .accordion__use-icon-minus {
        display: block;
      }
    }
  }

  .accordion__control {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;

    &:hover {
      .accordion__btn-icon {
        fill: black;
      }
    }
  }

  .accordion__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;

    margin: 0;
    margin-left: 5px;

    padding: 0;

    width: 16px;
    height: 16px;

    background-color: transparent;
    border: none;
  }

  .accordion__content {
    display: none;
  }
}
