.advice-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.advice-form__heading {
  margin-bottom: 10px;
  width: 100%;

  @media(min-width: $desktop-width) {
    transform: translateX(-4px);
  }
}

.advice-form__text {
  margin-bottom: 51px;
  width: 100%;
}

.advice-form__label {
  margin-bottom: 40px;
  width: 100%;

  &--area {
    margin-bottom: 43px;
  }
}

.advice-form__layout-column {
  width: calc((100% - 31px) / 2);
  box-sizing: border-box;
}

.advice-form__input {
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
}

.advice-form__area {
  min-height: 154px;
}

@media (max-width: $desktop-width - 1) {
  .advice-form {
    padding-left: 67px;
    padding-right: 62px;
  }

  .advice-form__heading {
    margin-bottom: 16px;

    @media (min-width: $tablet-width) {
      transform: translateX(-4px);
    }
  }

  .advice-form__text {
    margin-bottom: 54px;
  }

  .advice-form__label {
    margin-bottom: 44px;

    &--area {
      margin-bottom: 46px;
    }
  }

  .advice-form__area {
    min-height: 158px;
  }

  .advice-form__layout-column {
    width: calc((100% - 33px) / 2);
  }
}

@media (max-width: $tablet-width - 1) {
  .advice-form {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: stretch;

    padding: 0;
  }

  .advice-form__heading {
    margin-bottom: 12px;
  }

  .advice-form__text {
    margin-bottom: 27px;
  }

  .advice-form__label,
  .advice-form__layout-column {
    margin-bottom: 32px;
  }

  .advice-form__label--area {
    margin-bottom: 30px;
  }

  .advice-form__area {
    min-height: 104px;
  }

  .advice-form__layout-column {
    width: auto;
  }

  .advice-form__btn {
    margin-bottom: 23px;
  }

  .advice-form__checkbox {
    transform: translateX(-8px);
  }
}
