.advice {
  padding-top: 91px;
  padding-bottom: 114px;

  font-family: $font-mono;
  font-size: 16px;
  line-height: 22px;
  color: $white-color;

  background-color: $blue-color;
  background-image: url("../img/bg-triangles.svg"), url("../img/bg-triangles-left-right.svg");
  background-position: top -60px right calc(50% + 115px + 334px), top 35px right -73px;
  background-size: 670px 641px, 510px 669px;
  background-repeat: no-repeat, no-repeat;
}

.advice__layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.advice__picture {
  margin-top: 70px;
  transform: translateX(-26px);
}

.advice__img {
  width: 100%;
  height: auto;
}

.advice__form {
  flex-shrink: 0;
  width: 585px;
  box-sizing: border-box;
}

@media (max-width: $desktop-width - 1) {
  .advice {
    padding-top: 80px;
    padding-bottom: 104px;

    background-image: none;
  }

  .advice__picture {
    display: none;
  }

  .advice__form {
    width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: $tablet-width - 1) {
  .advice {
    padding-top: 29px;
    padding-bottom: 41px;
  }
}
