.call-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  input,
  textarea {
    padding: 15px 24px;
  }

  textarea {
    min-height: 104px;
  }
}

.call-form__heading {
  margin-bottom: 13px;
}

.call-form__text {
  margin-bottom: 30px;
}

.call-form__label {
  margin-bottom: 30px;
}

.call-form__send-btn {
  margin-bottom: 29px;
}
