.features {
  overflow: hidden;

  position: relative;
  padding-top: 110px;
  padding-bottom: 55px;

  font-family: $font-mono;
  font-size: 16px;
  line-height: 22px;

  color: $black-color;
  background-color: $white-color;

  background-image: url("../img/bg-triangle-left.svg"), url("../img/bg-triangle-right.svg");
  background-position: top 45px right calc(50% + 112px + 534px), bottom 82px right calc(50% - 112px - 704px);
  background-size: 224px 259px, 224px 259px;
  background-repeat: no-repeat, no-repeat;

  &::before {
    content: "";
    position: absolute;
    bottom: -196px;
    left: 0;

    width: 302px;
    height: 560px;

    background-image: url("../img/bg-triangle-left-big.svg");
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -66px;
    left: calc(50% - 125px);
    width: 488px;
    height: 560px;

    background-image: url("../img/bg-triangle-right-big.svg");
  }
}

.features__list {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: flex-start;
  z-index: 10;

  margin: 0;
  margin-bottom: -30px;
  padding: 0;

  list-style: none;
}

.features__item {
  margin-bottom: 30px;
  padding-top: 35px;
  padding-bottom: 49px;
  padding-left: 45px;
  padding-right: 42px;

  width: calc(50% - 15px);
  box-sizing: border-box;

  background-color: $white-color;
  border: 1px solid $dim-gray-color;
  box-shadow: 3px 0 0 0 $blue-color inset;

  &:hover {
    color: $white-color;
    background-color: $blue-color;
    border-color: transparent;

    .features__icon {
      fill: $white-color;
    }

    .features__item-title {
      color: $white-color;
    }
  }
}

.features__icon-placeholder {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  margin-bottom: 23px;

  width: 40px;
  height: 40px;
}

.features__icon {
  width: 35px;
  height: 35px;

  fill: $blue-color;

  &--stopwatch {
    width: 29px;
    height: 35px;
  }

  &--detective {
    width: 36px;
    height: 31px;
  }
}

.features__item-title {
  margin: 0;
  margin-bottom: 15px;

  font-family: $font-roboto-condensed;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;

  color: $blue-color;
}

.features__text {
  margin: 0;
}

@media (max-width: $desktop-width - 1) {
  .features {
    padding-top: 54px;
    padding-bottom: 27px;

    background-image: none;

    &::before {
      content: none;
    }

    &::after {
      bottom: -155px;
      left: calc(50% + 103px);
    }
  }

  .features__item {
    padding-top: 20px;
    padding-bottom: 26px;
    padding-left: 26px;
    padding-right: 19px;

    box-shadow: 2px 0 0 0 $blue-color inset;
  }

  .features__icon-placeholder {
    margin-bottom: 14px;
  }

  .features__icon {
    width: 33px;
    height: 33px;

    &--stopwatch {
      width: 30px;
      height: 37px;
    }

    &--detective {
      width: 31px;
      height: 27px;
    }
  }

  .features__item-title {
    margin-bottom: 14px;
  }
}

@media (max-width: $tablet-width - 1) {
  .features {
    padding-top: 37px;
    padding-bottom: 30px;

    &::after {
      bottom: -143px;
      left: calc(50% - 3px);
    }
  }

  .features__list {
    margin-bottom: -20px;
  }

  .features__item {
    margin-bottom: 20px;
    padding-bottom: 26px;
    padding-left: 18px;
    padding-right: 19px;

    width: 100%;

    box-shadow: -2px 0 0 0 $blue-color;
  }

  .features__item-title {
    margin-bottom: 17px;

    font-size: 20px;
    line-height: 28px;
  }
}
