.footer-top__logo {
  display: block;
  margin-bottom: 46px;
}

.footer-top__copyright {
  display: none;
}

.footer-top__layout {
  padding-left: 22px;
}

@media (max-width: $desktop-width - 1) {
  .footer-top {
    padding-top: 19px;
    padding-bottom: 18px;

    border-bottom: 1px solid rgba(#626962, 0.2);
  }

  .footer-top__layout {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 25px;
  }

  .footer-top__logo {
    margin-bottom: 0;
  }

  .footer-top__copyright {
    display: block;
    padding-left: 16px;

    @include copyrightText();
  }
}

@media (max-width: $tablet-width - 1) {
  .footer-top {
    padding-top: 46px;
    padding-bottom: 45px;
  }

  .footer-top__layout {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-left: 16px;
    padding-right: 16px;
  }

  .footer-top__copyright {
    margin-top: 18px;
    margin-bottom: 32px;

    padding-left: 0;
  }
}
