.form__text {
  margin: 0;
}

.form__label {
  &:last-child {
    margin-bottom: 0;
  }

  &--checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    padding-top: 9px;
    padding-left: 7px;

    font-size: 14px;
    line-height: 16px;
  }
}

.form__input {
  display: block;

  margin: 0;

  width: 100%;
  box-sizing: border-box;

  font-family: $font-mono;
  font-size: 16px;
  line-height: 22px;

  color: inherit;

  background-color: rgba($white-color, 0.1);
  border: none;

  &::placeholder {
    color: $white-color;
  }

  &:-ms-input-placeholder {
    color: $white-color;
    opacity: 1;
  }

  &:invalid {
    box-shadow: 0 0 0 3px red;
  }
}

.form__area {
  resize: vertical;
  // for ie11 (убрать вертикальный скролл)
  overflow: auto;
}

.form__box {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;

  margin-right: 16px;

  width: 16px;
  height: 16px;
  border: 1px solid $white-color;
  box-sizing: border-box;
}

.form__icon {
  width: 9px;
  height: 6px;
  fill: $blue-color;
}

.form__checkbox:not(:checked) + .form__box > .form__icon {
  display: none;
}

.form__checkbox:focus + .form__box {
  outline: 1px dashed black;
  outline-offset: 3px;
}
