@mixin visuallyHidden() {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin copyrightText() {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

@mixin heading() {
  margin: 0;

  font-family: $font-roboto-condensed;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;

  color: inherit;
}

@mixin headingTablet() {
  font-size: 32px;
  line-height: 45px;
}

@mixin headingMobile() {
  font-size: 28px;
  line-height: 40px;
}

@mixin hover() {
  opacity: 0.7;
}

@mixin active() {
  opacity: 0.3;
}

@mixin scale() {
  transition: transform 0.1s linear;
  transform: scale(1.1);
}

@mixin focus {
  outline: 2px solid orange;
  outline-offset: 3px;
}
