.page {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  min-height: 100vh;

  &--lock {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: block;

    overflow-y: scroll;
  }
}

.page__main {
  flex: 1 0 auto;
}
