.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 1411px;

  &--narrow {
    @media (min-width: $desktop-width) {
      padding-left: 25px + 122px;
      padding-right: 25px  + 119px;
      max-width: 1411px - 122px - 119px;
    }
  }
}

@media (max-width: $tablet-width - 1) {
  .wrapper {
    padding: 0 16px 0 16px;
  }
}

.overlay {
  display: none;

  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: auto;

  background: rgba(0, 0, 0, 0.5);

  &--visible {
    display: block;
  }
}
