.social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.social-list__item {
  & + & {
    margin-left: 16px;
  }
}

.social-list__icon {
  &:hover {
    @include scale();
    @include hover();
  }

  &:active {
    @include active();
  }
}
