$font-mono: "PT Mono", "Courier New", "Monaco", monospace;
$font-roboto-condensed: "Roboto Condensed", "Arial", "Helvetica", sans-serif;

$white-color: #ffffff;
$black-color: #666666;
$gray-color: #cdcdcd;
$light-gray-color: #fafafa;
$dim-gray-color: #ebebeb;
$dark-gray-color: #1b2d37;
$blue-color: #00b2ff;

$max-content-width: 1411px;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

$wrapper-padding: 25px;


$triangle_left_vshift_desktop: 366px;
$triangle_right_hshift_desktop: 129px;
$triangle_right_vshift_desktop: 68px;

$triangle_right_hshift_tablet: 98px;
$triangle_right_vshift_tablet: 155px;

$triangle_right_hshift_mobile: 8px;
$triangle_right_vshift_mobile: 143px;

$retina-dppx: 1.5dppx;
